<%- include('../views/partials/_header.ejs') -%>
 <%-include('../views/partials/_navigation.ejs') -%>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-6 mb-4">

        <!-- Portfolio item 1-->
        <div class="portfolio-item">
          
            <img class="img-fluid" src="<%= photo.image %>" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading"><%= photo.title %></div>
            <div class="portfolio-caption-subheading text-muted">
              <%= photo.description %>
            </div>
          </div>
        </div>

     
        
      </div>
    </div>
  </div>
</section>


<!-- Footer-->

<%- include('../views/partials/_footer.ejs') -%>
